{% extends "layout.html" %}

{% block content %}
 <h1>Regsitrants</h1>
 <table border="2">
   <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
    </tr>
   </thead>
   <tbody>
      {% for registrant in registrants %}
   <tr>
     <td>{{ registrant["name"] }}</td>
     <td>{{ registrant["sport"] }}</td>
       <td>
           <form action="/deregister" method="post">
               <input name="id" type="hidden" value ="{{ registrant.id }}">
               <input type="submit" value="Deregister">
           </form>
       </td>
   </tr>
    {% endfor %}
   </tbody>
 </table>
{% endblock %}